.category {
    margin-bottom: 30px;
}

.categoryHeader {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1px;
    padding-left: 1px;
    box-sizing: border-box;
    background-color: white;
    padding-top: 1px;
    padding-left: 1px;
    border-left: none;
    box-shadow: inset 0 0 0 1px lightgray;
}

.itemBlock {
    width: calc(20% + 1px);
    margin-top: -1px;
    margin-left: -1px;
    padding: 20px;
    border: 1px solid lightgray;
    font-size: 14px;
    cursor: pointer;
}

.itemBlock:hover {
    box-shadow: 0 0 5px 5px lightgray;

    img {
        transform: translateY(-12px);
        transition-duration: 0s;
    }
}

.itemBlock:empty {
    border: 0;
}

.icon {
    margin-bottom: 3px;
}

.itemRating {
    color: darkorange;
}

.itemInfo {
    color: #007bff;
    font-weight: 600;
    margin-bottom: -2px;
    cursor: pointer;
}

.itemName {
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    color: black !important;
}

.itemImg {
    display: block;
    padding: 10px;
    margin: 0 auto;
}

.itemUnitPrice {
    color: red;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.itemOriginPrice {
    text-decoration: line-through;
    font-size: 13px;
    cursor: pointer;
    color: gray;
}

.moreBtn {
    width: 100%;
    color: #52a2e1;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.moreBtn:hover {
    color: white;
    background-color: #52a2e1;
}

.moreBtn:focus {
    outline: 0;
}

.imgHolder {
    height: 200px !important;
    display: block;
}
