.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0em 7px;
    td,
    th {
        vertical-align: middle;
    }
}

.labelCol {
    width: 100px;
}

.promotions {
    border: 1px solid lightgray;
    height: 105px;
    border-radius: 3px;
    overflow-y: scroll;
    padding: 6px 8px;
}

.imgPreview {
    width: 200px;
    height: 200px;
    display: none;
}
