.table {
    font-size: 14px;

    b {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 7px;
    }

    td {
        width: 25%;
    }
}

.collapse {
    padding: 10px 20px 5px 20px;
    background-color: white;
    width: 1200px;
    margin: 0 auto !important;
    z-index: 15;
    left: 0;
    right: 0;
    border: 1px solid lightgray;
}

.absoluteCollapse {
    position: absolute !important;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ddd;
}

.relativeCollapse {
    position: relative !important;
    margin-bottom: 15px !important;
}

.checkbox {
    position: relative !important;
    margin-left: 0 !important;
    margin-right: 2px;
    transform: scale(1.1);
}

.button {
    width: 100%;
    font-size: 16px;
    border-radius: 0;
    border: none;
    padding: 0.5em 0;
    border-radius: 5px;
}

.button:focus {
    outline: none;
}

.buttonSearch {
    background-color: #288ad6;
    color: white;
}

.buttonClear {
    background-color: white;
    color: red;
}

.logo {
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 70px;
    height: 70px;
    margin: 10px 0px;
}

.logosRow {
    margin-top: 0.5em;
    display: table;
    width: 100%;
}

.logoLabel {
    display: table-cell;
    border: 1px solid lightgray;
    text-align: center;
}

.logoLabel:hover {
    cursor: pointer;
}
