.blockCenter {
    margin-top: 20px;
}

.blockRight {
    margin-top: 20px;
    padding: 0 !important;
}

.name {
    font-size: 15px;
}

.name:hover {
    cursor: pointer;
}

.priceLabel {
    margin-top: 3px;
    font-weight: bold;
    font-size: 15px;
    color: red;
}

.pricePromotion {
    text-decoration: line-through;
    color: grey;
    margin-left: 10px;
    font-size: 13px;
}

.quantity {
    text-align-last: center;
    max-width: 100px;
}
