$background-color: rgb(239, 239, 239);

.divider {
    margin: 0 -16px !important;
}

.gallery {
    width: 100% !important;
    height: 100% !important;
    padding: 20px;
}

.thumbnail {
    width: 80px !important;
    transition: none !important;
    margin-top: 10px;

    img {
        width: 50px !important;
        height: 50px !important;    
    }
}

.thumbnail[aria-pressed="false"] {
    border: 1px solid lightgray !important;
}

.thumbnail:not(:last-of-type) {
    margin-right: 5px;
}

.blockDetail {
    background-color: white;
}

.blockLeft,
.blockRight {
    padding: 10px 0;
}

.blockLeft {
    display: flex;
    align-items: center;
}

.blockChild {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
}

.blockChild:last-of-type {
    padding-top: 18px;
}

.blockRight {
    border-left: 1px solid rgb(239, 239, 239);
}

.img {
    padding: 15px;
}

.productName {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 600;
}

.commentCount {
    margin-left: 5px;
    color: dodgerblue;
    font-size: 13px;
}

.ratingIcon {
    margin-bottom: 8px;
    margin-right: 4px;
    font-size: 16px;
}

.currentPrice {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.originPrice {
    margin-left: 5px;
    text-decoration: line-through;
}

.discountPrice {
    margin-left: 5px;
    font-style: italic;
}

.infoBlock {
    margin-bottom: 0 !important;
}

.infoLabel,
.promotionLabel {
    color: #454545;
    font-weight: bold;
    margin-bottom: 8px;
}

.infoItem {
    margin-bottom: 10px;
}

.promotionItem {
    margin-left: 5px;
    margin-bottom: 10px;
}

.promotionImg {
    width: 35px;
    height: 35px;
    display: inline-block;
}

.promotionName {
    margin-left: 10px;
}

.quantityCol {
    display: flex;
    align-items: center;
}

.quantityLabel {
    font-weight: bold;
    width: 120px;
    margin-right: 10px;
}

.wishlistBtn{
    margin-left: 15px;
}

.quantityInput {
    text-align: center;
}

.quantityError {
    font-weight: 600;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 15px;
    color: red;
    font-size: 14px;
    display: none;
}

.rectHolder {
    height: 350px !important;
    margin: 0 !important;
}
