.replyInput, .submitButton {
    display: block;
    width: 100%;
}

.replyTable {
    margin-bottom: 0 !important;
}

.replyAuthor {
    font-weight: bold;
    font-size: 14px;
}

.replyDate {
    float: right;
}