.table {
    background-color: white;
    table-layout: fixed;
    font-size: 14px;

    td,
    th {
        word-wrap: break-word;
        text-align: center;
        vertical-align: middle !important;
    }
}

.idCol {
    width: 15%;
}

.nameCol {
    width: 35%;
}

.imgCol {
    width: 15%;
}

td.nameCol {
    text-align: left;
}

.priceCol {
    width: 15%;
}

.quantityCol {
    width: 15%;
}

.actionCol {
    width: 15%;
}

.pagination {
    float: right !important;
    font-size: 14px;
    font-weight: 600;
}
