.title {
    margin-bottom: 15px;
    font-size: 18px;
}

.btn {
    float: right;
    color: white !important;
    width: 180px;
    font-size: 14px !important;
}

.icon {
    margin-right: 5px;
}

.list {
    background-color: white;
    padding: 10px 10px 20px 10px;
}

.total {
    background-color: white;
    font-size: 16px;
    text-align: end;
    border-bottom: 1.5px solid #eee;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;

    b {
        color: #454545;
    }
}

.price {
    color: red;
    font-weight: bold;
}

.emptyCart {
    text-align: center;
    padding: 20px 0;

    h4 {
        margin-bottom: 10px;
    }
}