.pageHeader {
    padding-bottom: 9px;
    margin: 40px 0 0px;
    border-bottom: 1px solid #eee;
}


.add {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    background-color: white;
}

.add svg{
    color: black;
}