
.top {
    position: relative;
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
}

.leftside {
    margin-top: 5px;
    position: relative;
    width: 200px;    
    max-height: 1500px;
}

.rightside {
    left: 200px;
    margin-left: 10px;
    width: 800px;
}

.block {
    margin-top: 20px;
}

.title {
    font-size: 18px;
    padding-left: 10px;
}

.component {
    background-color: white;
}