.inner {
    background-color: white;
}

.pageHeader {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;

}
.orderTable {
    border: 1px solid rgba(0, 0, 0, .125)
}
.inner th:last-child, .inner td:last-child {
    text-align: right;
}

.inner th, .inner td {
    min-width: 100px;
    padding: 20px 15px; 
    line-height: 20px;
}