.container {
    background-color: white;
    padding: 20px 30px;
    font-size: 16px;
    overflow: auto;

    input, select {
        font-size: 16px !important;
    }
}

.loader {
    background-color: white;
}

.header {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.address {
    display: flex;
    justify-content: space-between;

    button {
        margin: 10px 0 !important;
        margin-right: 10px !important;        
    }
}

.emptyCart {
    text-align: center;
    padding: 20px 0;
    background-color: white;

    h4 {
        margin-bottom: 10px;
    }
}
