.login {
    background-color: #efefef;
}

.body {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 60%;
    min-width: 450px;
}

.login_form {
    position: relative;
    width: 90%;
    height: 100%;
    left: 5%;
    right: 5%;
    border: solid gray 1px;
}

.logo {
    position: relative;
    width: 60%;
    left: 20%;
    right: 20%;
    height: 20%;
    max-height: 100px;
   a {
    img {
        position: relative;
        width: 100%;
        height: 80%;
        background-color: brown;
    }
   }
    
}

.form {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: white;
}

.form_body {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    top: 5px;
    border-bottom: 1px solid #d2d3d6;
    height: 75%;
    width: 90%;
}

.title {
    position: relative;
    vertical-align: central;
    text-align: center;
    top: 10%;
    width: 100%;
    height: 30%;
    p {
        margin: 0px;
        padding: 0px;
        a {
            color: slateblue;
            text-decoration: none;
            &:hover {
                color: blue;
            }
        }
    }
}

.username {
    position: relative;
    display: flex;
    flex-direction: row;
    vertical-align: central;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 15%;
    border-radius: 5px;
    border: solid 1px gray;
}

.password {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 20px;
    vertical-align: central;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 15%;
    border-radius: 5px;
    border: solid 1px gray;
}

section {
    .username &, .password &{
        position: relative;
        width: 10%;
        top: 10%;
        bottom: 10%;
        height: 80%;
        background-color: white;
        background: none;
    }
}

input {
    .username &,.password &{
        position: relative;
        width: 90%;    
        height: 100%;
        bottom: 0px;
        padding-left: 10px;
        background-color: white;
        background: #FFFEEE;
        border-radius: 0px 5px 5px 0px;
        border: none;
        border-left: solid 1px gray;
        font-size: 15px;
        line-height: 20px;
        &::-ms-clear {
            display: none;
        }
        
    }
}

.status {
    position: relative;
    margin-top: 5px;
    vertical-align: central;
    text-align: left;
    top: 10%;
    width: 100%;
    height: 10%;
    color: red;
    // display: none;
}

.form_bottom {
    position: relative;
    flex-direction: row;    
    vertical-align: central;
    height: 25%;
    width: 100%;
    background-color: #f7f8fa;
    bottom: 1px;
}

.form_submit {
    position: relative;
    display: flex;
    flex-flow: wrap;
    width: 80%;
    height: 60%;
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 20%;
    text-align: center;
    align-self: center;
    
    a{
        position: relative;
        color: slateblue;
        width: 60%;
    }

    button {
        position: relative;
        height: 60%;
        width: 20%;
        left: 10%;
        color: black;
        background-color: gray;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: slateblue;
        }
    }
    
}