.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0em 10px;

    td,
    th {
        vertical-align: middle;
    }
}

.imageLabel {
    vertical-align: top !important;
    padding-top: 3px;
}

.labelCol {
    width: 100px;
}

.promotions {
    border: 1px solid lightgray;
    height: 105px;
    border-radius: 3px;
    overflow-y: scroll;
    padding: 6px 8px;
}

.imgPreview {
    width: 100px;
    height: 100px;
    display: none;
}

.buttons {
    float: right;
    > button:not(:last-of-type) {
        margin-right: 10px;
    }
}
