.title {
    background-color: #f3f3f3;
    margin-bottom: 10px !important;
    font-size: 18px;
    font-weight: 600;
}

.info {
    background-color: white;
}

.section {
    margin-bottom: 30px;
}

.productRedirect {
    color: #007bff !important;
}

.productRedirect:hover {
    text-decoration: underline !important;
}

.rectHolder {
    height: 400px !important;
    margin-bottom: 30px;
}

.textHolder {
    margin-bottom: 15px;
    width: 50% !important;
    height: 25px !important;
}