.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 7px;
    td,
    th {
        vertical-align: middle;
    }
}

.labelCol {
    width: 100px;
}

.imgPreview {
    width: 200px;
    height: 200px;
    display: none;
}

.inputsCol {
    width: 100%;
    display: flex;

    > span:not(:last-of-type) {
        margin-right: 8px;
    }

    > span:last-of-type {
        flex-grow: 1;
        width: fit-content;
    }
}

.cpuSpeed {
    width: 100px !important;
}

.resolutionSize {
    text-align: center;
}

.checkboxes {
    border: 1px solid lightgray;
    height: 135px !important;
    border-radius: 3px;
    overflow-y: scroll;
    padding: 6px 8px;
}