.form {
    margin-bottom: 1em;
}
.inner {
    background-color: white;
    padding-bottom: 20px;
}

.pageHeader {
    margin: 20px 0 10px;
    font-size: 13px;
}

.inner th, .inner td {
    text-align: center;
}
.inner td:first-child, .inner th:first-child {
    text-align: left;
}
.inner th:nth-child(2), .inner th:nth-child(3), .inner th:nth-child(4) {
    width: 150px;
}
.orderButton{
    padding-left: 0px !important;
}
.Button {
    width: 130px;
}
.summary {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: right;
}
.summarySection {
    padding-top: 15px;
}

.addressButton {
    margin-left: 20px;
    width: 136px;
}

.addressButtonTest {
    width: 136px;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0em 12px;
    td,
    th {
        vertical-align: middle;
    }

}
.labelCol {
    width: 140px;
}
.statusBtnGroup {
    width: 100%;
}
.statusSelect {
    width: 85% !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}