
.products {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-flow: wrap;
    align-content: center;
    border-collapse: collapse;
    margin-right: 1%;
    margin-left: 1%;
}

.product {
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    max-width: 25%;
    width: 25%;
    min-width: 180px;
    height: 100%;
    margin-top: 15px;
    padding: 5px;
    border-collapse: collapse;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
            .productimage {
                img {
                    transform-origin: center;
                    animation: scale 1000ms linear forwards;
                }
            }
        }
    }
     &:hover {
         background-color: #efefef;
         border: thick 2px;

         .name {
            color: slateblue;
         }
     }
}

.readmore {
    position: relative;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-top: 5px;
    left: 350px;
}

.productimage {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    left: 0px;
    img {
        width: 160px;
        height: 160px;
    }
}

.productdetail {
    width: 100%;
    height: auto;
    min-height: 50%;
    color: black;
    text-align: left;
}

.name {
    font-size: 16px;
}

.price {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.discountPrice {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.ratingIcon {
    font-size: 16px;
    margin-right: 3px;
}

@keyframes scale {
    to {
      transform: scale(1.1);
    }
  }