.table {
    background-color: white;
    table-layout: fixed;

    td,
    th {
        word-wrap: break-word;
        text-align: center;
        vertical-align: middle !important;
    }
}

.idCol {
    width: 15%;
}

.nameCol {
    width: 15%;
}

.phoneCol {
    width: 15%;
}

.priceCol {
    width: 15%;
}

.dateCol {
    width: 12%;
}

.statusCol {
    width: 13%;
}

.actionCol {
    width: 15%;
}